.tutorialTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


.tutorial {
    border-radius: 25px;
    padding: 20px; 
    color: white;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, hsla(196, 79%, 35%, 0.953), rgba(2, 188, 110, 0.945));
}

.tutorial > .title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}
.tutorial > .stars {
    margin-bottom: 20px;
    font-size:xx-large;
}
.tutorial > .day {
    margin: 0px;
}

.tutorial > .room {
    margin: 0px;
}
